/* GENERAL STYLING */
body {
  font-family: "calluna-sans",sans-serif;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity: 0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.fade-in.delay-one {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.title h2 {
  font-size: 36px;
  margin: 0;
  text-align: center;
}
.title p {
  font-size: 20px;
  font-family: "proxima-nova", sans-serif;
  margin: 0;
  padding-top: 5px;
  font-weight: 200;
  text-align: center;
}
.yellow-divider {
  width: 75px;
  border-bottom: 3px solid #fcb814;
  margin: auto;
}
.purple-divider {
  width: 75px;
  border-bottom: 3px solid #3c2886;
  margin: auto;
}
.red-divider {
  width: 75px;
  border-bottom: 3px solid #ef4639;
  margin: auto;
}
.explore-button {
  color: #ffffff;
  background-color: #3c2886;
  border: 2px solid #3c2886;
  padding: 8px 18px 8px 18px;
  margin: 0px 0px 30px 25px;
  position: absolute;
  bottom: 0;
}
.explore-button:hover {
  color: #3c2886;
  background-color: #FFFFFF;
  border: 2px solid #3c2886;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
}
.spacer {
  height: 40px;
}

@media (max-width: 992px){
  .spacer {
    display: none;
  }
}

/* NAVBAR / MENU STYLING */

.logo {
	padding-top: 15px;
	max-width: 180px;
}
.navbar {
	min-height:115px !important;
  margin-bottom: 0px !important;
  background: #FFFFFF;
  border: none;
  z-index: 250;
}
.navbar-nav > li > a, .navbar-brand {
    height: 115px;
    line-height: 85px;
}
.navbar-default .navbar-nav > li > a {
	color: #757575;
	font-size: 14px;
	font-weight: 600;
}
.give-button {
	color: #3c2886;
	background-color: #FFFFFF;
	border: 2px solid #3c2886;
  padding: 8px 18px 8px 18px;
}
.give-button:hover {
	color: #FFFFFF;
	background-color: #3c2886;
	border: 2px solid #3c2886;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
}

@media (max-width: 992px){
  .navbar .container {
    width: 780px;
  }
}
@media (max-width: 768px){
  .navbar .container {
    width: 100%;
  }
  .navbar-toggle {
    margin-top: 40px;
  }
  .navbar-nav {
    margin: 0px 0px 0px 0px;
  }
  .navbar-right {
    min-height: 285px;
  }
  .navbar-nav > li > a {
    padding-bottom: 25px;
    height: 50px;
    line-height: 50px;
  }
}

/* HEADER THANK YOU */

.thank-you {
  background: url('../images/thank-you-header.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 525px;
  text-align: center;
}
.thank-you-message {
  max-width: 725px;
  margin: 150px auto 0 auto;
}
.thank-you-message h1 {
  color: #FFFFFF;
  font-size: 45px;
}
.thank-you-message p {
  color: #e7e7e9;
  font-size: 20px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  line-height: 30px;
}

/* AREAS OF IMPACT */

#impact-title {
  background-color: #3c2886;
  color: #FFFFFF;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
#impact-areas {
  background-color: #f2f2f2;
  padding: 40px 0px 40px 0px;
}
.impact-story {
  color: #FFFFFF;
  height: 250px;
  max-width: 350px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
}
.impact-story h4 {
  font-size: 16px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 25px 25px 0px 25px;
}
.impact-story h3 {
  font-size: 22px;
  line-height: 33px;
  margin: 0;
  padding: 15px 25px 0px 25px;
}

/* Background Images */
.battlefield-tour {
  background: url('../images/impact/battlefield-tour-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.research-award {
  background: url('../images/impact/research-award-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.gsa-lounge {
  background: url('../images/impact/gsa-lounge-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.thompson-music {
  background: url('../images/impact/thompson-music-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.graduate-connected {
  background: url('../images/impact/graduate-connected-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 992px){
  .impact-story {
    max-width: none;
    margin-bottom: 25px;
  }
  .spacer {
    display: none;
  }
}

/* Highlights */

#highlights {
  padding: 40px 0px 40px 0px;
}
.highlight-story {
  max-width: 500px;
  height: 260px;
  background-color: #000000;
  margin: auto;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
}
.highlight-story .content {
  padding: 30px 25px 0px 25px;
}
.highlight-story .number-container {
  display: inline;
  vertical-align: middle;
}
.highlight-story .highlight-number {
  border-radius: 50%;
  padding: 6px 12px 6px 12px;
  background: #3c2886;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-align: center;
  font: 14px bold "proxima-nova", sans-serif;
}
.highlight-story h3 {
  display: inline;
  vertical-align: middle;
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 40px;
}
.highlight-story p {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 22.5px;
  padding-top: 10px;
}
.highlight-story button {
  margin-left: 0;
}

/* Background Images */
.hallman {
  background: url('../images/highlights/hallman-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.mconnell {
  background: url('../images/highlights/mconnell-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.ymca {
  background: url('../images/highlights/ymca-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.bcbbs {
  background: url('../images/highlights/bcbbs-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.philanthropy {
  background: url('../images/highlights/philanthropy-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.philanthropist-year {
  background: url('../images/highlights/philanthropist-year-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.imagine {
  background: url('../images/highlights/imagine-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 992px){
  .highlight-story {
    max-width: 500px;
    margin-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .highlight-story {
    height: 335px;
  }
}