/* GENERAL STYLING */
body {
  font-family: "calluna-sans",sans-serif;
  color: #373737;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity: 0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.fade-in.delay-one {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}
.title h2 {
  font-size: 36px;
  margin: 0;
  text-align: center;
}
.title p {
  font-size: 20px;
  font-family: "proxima-nova", sans-serif;
  margin: 0;
  padding-top: 5px;
  font-weight: 200;
  text-align: center;
}
.yellow-divider {
  width: 75px;
  border-bottom: 3px solid #fcb814;
  margin: auto;
}
.purple-divider {
  width: 75px;
  border-bottom: 3px solid #3c2886;
  margin: auto;
}
.red-divider {
  width: 75px;
  border-bottom: 3px solid #ef4639;
  margin: auto;
}
.explore-button {
  color: #ffffff;
  background-color: #3c2886;
  border: 2px solid #3c2886;
  padding: 8px 18px 8px 18px;
  margin: 0px 0px 30px 25px;
  position: absolute;
  bottom: 0;
}
.explore-button:hover {
  color: #3c2886;
  background-color: #FFFFFF;
  border: 2px solid #3c2886;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
}
.spacer {
  height: 40px;
}
.wlu-gold {
  color: #fcb814;
}

@media (max-width: 992px){
  .spacer {
    display: none;
  }
}

/* NAVBAR / MENU STYLING */

.logo {
	padding-top: 15px;
	max-width: 180px;
}
.navbar {
	min-height:115px !important;
  margin-bottom: 0px !important;
  background: #FFFFFF;
  border: none;
  z-index: 250;
}
.navbar-nav > li > a, .navbar-brand {
    height: 115px;
    line-height: 85px;
}
.navbar-default .navbar-nav > li > a {
	color: #757575;
	font-size: 14px;
	font-weight: 600;
}
.navbar .give-button {
	color: #3c2886;
	background-color: #FFFFFF;
	border: 2px solid #3c2886;
  padding: 8px 18px 8px 18px;
}
.navbar .give-button:hover {
	color: #FFFFFF;
	background-color: #3c2886;
	border: 2px solid #3c2886;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
}

@media (max-width: 992px){
  .navbar .container {
    width: 780px;
  }
}
@media (max-width: 768px){
  .navbar .container {
    width: 100%;
  }
  .navbar-toggle {
    margin-top: 40px;
  }
  .navbar-nav {
    margin: 0px 0px 0px 0px;
  }
  .navbar-right {
    min-height: 285px;
  }
  .navbar-nav > li > a {
    padding-bottom: 25px;
    height: 50px;
    line-height: 50px;
  }
}

/* HEADER THANK YOU */

#thank-you-container {
  height: 525px;
  overflow: hidden;
}
#thank-you-video {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  overflow: hidden;
  width: 100%;
  min-height: 525px;
  z-index: -1;
  position: absolute;
  background: url('../images/thank-you-header.jpg');
  background-repeat:no-repeat;
  background-position: top center;
}
#thank-you-container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 525px;
  background: #373737;
  overflow: hidden;
  opacity: 0.7;
  filter: alpha(opacity=7000);
}

#thank-you-container .thank-you-message {
  max-width: 725px;
  margin: 150px auto 0 auto;
  z-index: 100;
  text-align: center;
}
#thank-you-container .thank-you-message h1 {
  color: #FFFFFF;
  font-size: 45px;
  text-align: center;
}
#thank-you-container .thank-you-message p {
  color: #e7e7e9;
  font-size: 20px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  line-height: 30px;
}
#thank-you-container .control-btn .fa-angle-down {
  margin-top: 150px;
  border-radius: 50%;
  font-size: 30px;
  background: #3c2886;
  color: #FFFFFF;
  opacity: 0.7;
  padding: 8px 14px 8px 14px;
}
#thank-you-container .control-btn .fa-angle-down:hover {
  color: #fcb814;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
}

@media screen and (max-width: 920px){
  video {
    display: none;
  }
  #thank-you-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    min-height: 525px;
    z-index: -1;
    background: url('../images/thank-you-header.jpg');
    background-repeat:no-repeat;
    background-position: top center;
  }
}
@media (max-width: 550px){
  .control-btn .fa-angle-down {
    display: none;
  }
}

/* AREAS OF IMPACT */

#impact-title {
  background-color: #3c2886;
  color: #FFFFFF;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
#impact-areas {
  background-color: #f2f2f2;
  padding: 40px 0px 40px 0px;
}
.impact-story {
  color: #FFFFFF;
  height: 250px;
  max-width: 350px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
}
.impact-story h4 {
  font-size: 16px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 25px 25px 0px 25px;
}
.impact-story h3 {
  font-size: 22px;
  line-height: 33px;
  margin: 0;
  padding: 15px 25px 0px 25px;
}

/* Background Images */
.battlefield-tour {
  background: url('../images/impact/battlefield-tour-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.research-award {
  background: url('../images/impact/research-award-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.gsa-lounge {
  background: url('../images/impact/gsa-lounge-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.thompson-music {
  background: url('../images/impact/thompson-music-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.graduate-connected {
  background: url('../images/impact/graduate-connected-impact.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 992px){
  .impact-story {
    max-width: none;
    margin-bottom: 25px;
  }
  .spacer {
    display: none;
  }
}

/* HIGHLIGHTS */

#highlights {
  padding: 40px 0px 40px 0px;
}
.highlight-story {
  max-width: 500px;
  height: 260px;
  background-color: #000000;
  margin: auto;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
}
.highlight-story .content {
  padding: 30px 25px 0px 25px;
}
.highlight-story h3 {
  display: inline;
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 40px;
}
.highlight-story p {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 22.5px;
  padding-top: 10px;
}
.highlight-story button {
  margin-left: 0;
}

/* Background Images */
.hallman {
  background: url('../images/highlights/hallman-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.mconnell {
  background: url('../images/highlights/mconnell-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.ymca {
  background: url('../images/highlights/ymca-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.bcbbs {
  background: url('../images/highlights/bcbbs-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.philanthropy {
  background: url('../images/highlights/philanthropy-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.philanthropist-year {
  background: url('../images/highlights/philanthropist-year-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.imagine {
  background: url('../images/highlights/imagine-highlights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 992px){
  .highlight-story {
    max-width: 500px;
    margin-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .highlight-story {
    height: 335px;
  }
}

/* THE NUMBERS */

#the-numbers {
  padding: 40px 0px 40px 0px;
}
.numbers-box {
  background-color: #f2f2f2;
  width: 100%;
  height: 243px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
  margin-bottom: 35px;
}
.chart-box {
  background-color: #f2f2f2;
  width: 100%;
  height: 525px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
}
.numbers-header {
  padding: 15px;
}
.numbers-box p {
  font-size: 12px;
  display: inline;
  padding-left: 5px;
}
.circle {
  display: inline;
}
.circle img {
  width: 16px;
}
.number-divider {
  height: 12px;
  width: 45px;
  border-bottom: 3px solid #fcb814;
}
.icon-container {
  padding-top: 10px;
  text-align: center;
}
.numbers-icon {
  font-size: 55px;
}
.numbers-info {
  text-align: center;
}
.numbers-info h3 {
  margin-top: 10px;
  font-size: 36px;
}
.numbers-info p {
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
}
.numbers-info .disclaimer {
  font-family: "proxima-nova", sans-serif;
  font-size: 9px;
  color: #757575;
  display: block;
  padding-top: 10px;
}

@media (max-width: 992px){
  .numbers-box {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .chart-box {
    margin-bottom: 35px;
  }
}

/* FOOTER */

#footer {
  background-color: #F2F2F2;
  height: 80px;
}
#footer .footer-menu {
  text-align: center;
  margin: auto;
  width: 650px;
}
#footer .footer-links {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  display: inline;
}
#footer .footer-links li {
  display: inline;
  font-size: 12px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  margin-right: 40px;
  line-height: 80px;
}
#footer .footer-links .last {
  margin-right: 0px;
}
#footer .footer-links a {
  color: #b5b5b5;
}
#footer .social-links {
  float: right;
  display: inline;
}

@media (max-width: 768px){
  footer {
    display: none;
  }
}